@using Microsoft.AspNetCore.Identity
@model IEnumerable<AppUser>

@{
	ViewData["Title"] = "Home Page";
	var userName = User.Identity.Name;
}

<h1>Lista de contatos</h1>

<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model=>model.UserName)</th>

			<th>Ações</th>

			<th></th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Count() > 0)
		{
			@foreach (var user in Model)
			{
				<form asp-controller="Home" asp-action="ChatUser">
				<tr>
					<input name="Id" value="@user.Id" hidden>
					<td>@Html.DisplayFor(modelItem=>user.UserName)</td>
					<td><button type="submit" class="btn btn-success">Message</button></td>
				</tr>
				</form>
			}
		}
		else
		{
			<tr><td>Nenhum usuario encontrado</td></tr>
		}

	</tbody>
</table>

@if (User.Identity.IsAuthenticated)
{
    <script>
        const userName = "@userName";
@*        const userId = "@userId";
        const toUserId = "@toUserId";*@
    </script>
}
